* {
  margin     : 0;
  padding    : 0;
  box-sizing : border-box;
  font-family: 'Roboto', sans-serif;

}

.container {
  display         : flex;
  flex-wrap       : wrap;
  background-color: #eeeeee;
  margin          : 2rem auto;
  width           : 1000px;

}

.title {
  width     : 100%;
  text-align: center;
  margin-top: 1.5rem;
}

.content {
  display        : flex;
  flex-wrap      : wrap;
  justify-content: flex-start;
  padding        : 1rem;
  padding-bottom : 3rem;
  width          : 50%;

}

.cards {
  width          : 50%;
  display        : flex;
  flex-wrap      : wrap;
  justify-content: space-between;
  align-items    : center;

}

.cardItem {
  width           : 150px;
  background-color: #f3f3f3;
  border          : 1px solid;
  text-align      : center;
  box-shadow      : 1px 1px 3px;
  height          : 80px;
}



.content input {
  border          : 0;
  border-bottom   : 0.1rem solid #000;
  background-color: transparent;
  outline         : transparent;

}

.content input[type="number"] {
  -moz-appearance: textfield;
  appearance     : textifield;
}

.content button {
  cursor: pointer;
}

.content label {
  display  : block;
  font-size: 0.8rem;
  margin   : 0.4rem 0
}

.error {
  color: #ee4444;
}

.error label,
p {
  display: block;
  color  : #ee4444;
}

p {
  font-size: 0.6rem;
  color    : #ee4444;

}

.error input {
  border-bottom: 1px solid #ee4444;
}

.active {
  background-color: #ec8d54;
}

.request-data {
  width: 50%;
}
.data_income{
  display: flex;
}
.data_income label{
  padding: 0.5rem;
  cursor: pointer;
  border: 1px solid #000;
}
.data_income input[type="checkbox"] {
  display: none;
}

.data_income input[type="checkbox"]:checked +label {
  background-color: #ec8d54;
  color: #eeeeee;
  border: 1px solid #000;
  cursor: pointer;}

.data_income label.gross {
  background-color: transparent;
  border-radius: 0.5rem 0 0 0.5rem;
}

.data_income label.liquid {
  background-color: transparent;
  color           : #000;
  border-radius   : 0 0.5rem 0.5rem 0;
}

.response-data {
  width: 50%;
}


.data_indexing {
  width         : 11rem;
  padding-bottom: 0.1rem;
  display       : flex;
  align-items   : center;
  flex-wrap     : wrap;
}

.data_indexing label {
  padding: 0.5rem;
  cursor: pointer;
}

.data_indexing label:first-child {
  width: 100%;
}
.data_indexing input{
  display: none;
}

.data_indexing input:checked +label{
  background-color: #ec8d54;
  color: #eeeeee;
  border: 1px solid #000;
  cursor: pointer;

}
.data_indexing label.pos {
  border: 1px solid #000;
}

.data_indexing label.pre {
  border       : 1px solid;
  border-radius: 6px 0px 0rem 6px;

}

.data_indexing label.fixed {
  border       : 1px solid;
  border-radius: 0px 6px 6px 0;

}

.btn {
  color        : #000;
  font-weight  : 600;
  border-radius: 0.4rem;
  margin-top   : 2rem;
  border       : 1px solid #000;

}

.btn:hover {
  filter: brightness(0.4);
}

.btn-clear {
  padding: 0.6rem 1.5rem;
  border : 1px solid #000;

}

.btn-simule {
  padding         : 0.6rem 3rem;
  background-color: #959595;
}

.activeBtn {
  background-color: #ec8d54;
}

.cardItem h4 {
  font-size    : 15px;
  margin-bottom: 30px;
  line-height  : 20px;
}

span {
  font-weight: 700;
}

span[name="valorFinalLiquido"],
span[name="ganhoLiquido"] {
  color: #4fa746;
}